/* Sintaxe: *todo_documento, .classe, #id */

/* Reset: remover configurações padrão e aplicar configurações próprias*/
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D90404;
    color: #FFF;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1024px;
    margin: 0 auto; /* Centralizar conteúdo */
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.articles article {
    width: 32%;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.articles article img {
    width: 100%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 200;
    font-family: sans-serif;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.articles article a {
    background-color: #2b2b2b;
    color: #FFF;
    display: inline-block;
    padding: 8px;
    margin-top: 8px;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

.creation-date {
    color:#5E5E5E;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.article-text {
    margin: 16px;
}

#sports {
    background-color: #ebebeb;
}

#economy {
    background-color: #d8d8d8;
}

#entertainment {
    background-color: #ebebeb;
}

#tech {
    background-color: #d8d8d8;
}