* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 700px;
    width: 100%;
    padding: 16px;
}

form {
    margin-top: 32px;
}

.comparacao {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

input {
    width: 50%
}

button {
    display: block;
    width: 100%;
    border: none;
    color: black;
    background-color: orange;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    color: orange;
    background-color: black;
}

input, button, .sinal-comparacao {
    padding: 8px;
    margin-top: 8px;
}